<!-- BASIC USER UI ( not logged in / standard user logged in ) -->
<div *ngIf="isBasicUserOrNotLoggedIn()" id="basicUI">

    <!-- header -->
    <app-header></app-header>

    <!-- router outlet -->
    <div id="basicUI-content">
        <router-outlet></router-outlet>
    </div>
   
    <!-- space between router outlet and footer -->
    <div>
        <br>
        <br>
        <br>
        <br>
    </div>
    
    <!-- footer -->
    <app-footer id="basicUI-footer"></app-footer>

</div>

<!-- COURIER UI -->
<div *ngIf="isCourier()" id="courierUI">
    <app-courier></app-courier>
</div>

<!-- RESTAURANT ADMIN UI -->
<div *ngIf="isRestaurantAdmin()" id="rAdministratorUI">
    <app-r-admin></app-r-admin>
</div>

<!-- SUPER ADMIN UI -->
<div *ngIf="isSuperAdmin()" id="sAdministratorUI"></div>